*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #D9CDF7;
    display: flex;
}
img{
    width: 449px;
    height: 253px;
    margin-top: 50px;
    margin-left: 100%;
}
.text{
    text-align: center;
}
.cod{
    text-align: center;
}
button{
    
}